<div class='container'>
   <h1 class='display-4'>Add Product</h1>
   <br/><br/>
 
  <form [formGroup]='school' (ngSubmit)='onSubmit()'>
    <div class='form-group w-50'>
      <label for='naam'>Naam</label>
      <input type='text' class='form-control' formControlName='naam' 
        placeholder='Enter school name' formControlName='naam' />
    </div>  
    <div class='form-group w-50'>
      <label for='locatie'>Locatie</label>
      <input type='text' class='form-control' formControlName='locatie' 
        placeholder='Enter locatie name' formControlName='locatie' />
    </div>
    <div class='form-group w-50'>
      <label for='soort'>Soort</label>
      <input type='text' class='form-control' formControlName='soort' 
        placeholder='Enter soort school' formControlName='soort' />
    </div>
    <div class='form-group w-50'>
      <label for='leerlingen'>Aantal Leerlingen</label>
      <input type='text' class='form-control' formControlName='leerlingen' 
        placeholder='Enter aantal leerlingen' formControlName='leerlingen' />
    </div>
    <button class='btn btn-outline-primary' type='submit' [disabled]='!school.valid'>Add</button>
  </form>
</div>
