<div class='container'>
   <h1 class='display-4'>Search School</h1>
   <br/><br/>

<form [formGroup]='school' (ngSubmit)='onSubmit()'>
  <div class='form-group w-50'>
    <label for='naam'>Naam</label>
    <input type='text' class='form-control' formControlName='naam' 
      placeholder='Enter school name' formControlName='naam' />
  </div>
  <button class='btn btn-outline-primary' type='submit' [disabled]='!school.valid'>Search</button>
</form>

<br /><br />
  <h1 class='display-4'> Result</h1>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>Naam</th>
        <th scope='col'>Locatie</th>
        <th scope='col'>Soort</th>
        <th scope='col'>Leerlingen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let school of scholen'>
        <td> {{ school.naam }} </td>
        <td> {{ school.locatie }} </td>
        <td> {{ school.soort }} </td>
        <td> {{ school.leerlingen }} </td>
      </tr>
    </tbody>
  </table>
</div>
